sourceDir = "{{ .chezmoi.homeDir }}/.local/share/chezmoi"

[data]
    machine = "arch"
    email = ""
    work = false
    uses_ghostty = true
    terminal_font = "FantasqueSansM Nerd Font Mono"
    opencode_model = "openai/gpt-5.4"

[diff]
    format = "unified"

[git]
    autoCommit = false
    autoPush = false

[script]
    enabled = true
