# Extra-dark Tokyo Night palette, aligned with kitty/alacritty.
foreground = #cdd6f4
background = #0a0a0a
cursor-color = #f5e0dc
selection-foreground = #1e1e2e
selection-background = #6366f1

palette = 0=#45475a
palette = 1=#ef688e
palette = 2=#8ada83
palette = 3=#f6d488
palette = 4=#649cf8
palette = 5=#ef9cd8
palette = 6=#57c1ff
palette = 7=#e4e4e7
palette = 8=#585b70
palette = 9=#f38ba8
palette = 10=#a6e3a1
palette = 11=#f9e2af
palette = 12=#89b4fa
palette = 13=#f5c2e7
palette = 14=#7dcfff
palette = 15=#f4f4f5
